canvas {
  display: block; /* Removes the margin added by browsers to block elements */
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "VCR_OSD_Mono";
  src: url(../resources/fonts/VCR_OSD_MONO.ttf);
}

body {
  font-family: "VCR_OSD_Mono";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #000102;
  overflow: hidden;
}

td {
  min-width: 30%;
}

#game-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  max-height: 800px;
  --container-height: 800px;
  width: 100%;
  height: 100%;
}

#markdown-container {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  width: 70%;
  padding-top: 20px;
}

#wiki-list,
#wiki-page-container {
  max-height: calc(100vh - 50px);
  overflow-y: auto;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
#wiki-page-container {
  position: relative;
  display: none;
  flex-direction: column;
  font-family: "VRC_OSD_Mono";
  line-height: 1.5;
  color: #adbac7;
  background-color: #22272e;
}

.button {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 150px;
}

#wiki-wrapper {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 100%;
  max-width: 70vw;
  height: 100%;
  max-height: calc(var(--container-height) - 200px);
  background-color: rgb(255, 245, 212);
  color: black;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
  display: none; /* Hidden by default */
}

#wiki-text {
  position: relative;
  display: block;
}

#wiki-text td {
  min-width: 30%;
  margin: 5px;
}

#hide-wiki-content {
  font-family: inherit;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

#back-btn {
  display: none;
}
#wiki-list li {
  list-style-type: none;
  margin-bottom: 10px;
}

#wiki-list li a {
  text-decoration: none;
  color: #adbac7;
  padding: 10px 20px;
  border: 1px solid #adbac7;
  border-radius: 5px;
  display: inline-block;
  transition: background-color 0.3s ease;
}

#wiki-list li a:hover {
  background-color: #adbac7;
  color: #22272e;
}

#wiki-list li a:visited {
  color: #adbac7;
}

#wiki-page-container h1,
#wiki-page-container h2,
#wiki-page-container h3,
#wiki-page-container h4,
#wiki-page-container h5,
#wiki-page-container h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600;
  line-height: 1;
  color: #cdd9e5;
}

#wiki-page-container h1 {
  font-size: 2em;
}

#wiki-page-container h2 {
  font-size: 1.5em;
}

#wiki-page-container h3 {
  font-size: 1.25em;
}

#wiki-page-container h4 {
  font-size: 1em;
}

#wiki-page-container h5 {
  font-size: 0.875em;
}

#wiki-page-container h6 {
  font-size: 0.85em;
  color: #6a737d;
}

#wiki-page-container p {
  margin-top: 16px;
}

#wiki-page-container a {
  color: #539bf5;
  text-decoration: none;
}

#wiki-page-container a:visited {
  color: pink;
  text-decoration: none;
}

#wiki-page-container a:hover {
  text-decoration: underline;
}

#wiki-page-container img {
  max-width: 100%;
}

#wiki-page-container pre {
  padding: 16px;
  overflow: auto;
  line-height: 1.45;
  background-color: #444c56; /* Darker gray for code blocks */
  border-radius: 3px;
}

#wiki-page-container code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
  color: #cdd9e5; /* Lighter gray for code */
}

#wiki-page-container pre > code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: break-all;
  white-space: pre;
  background: transparent;
  border: 0;
}

#close-pdf {
  position: absolute;
  top: 50px;
  z-index: 1;
}

#pdf-viewer-container {
  font-family: "VCR_OSD_Mono";
  display: none;
  height: 100%;
  width: 100%;
}
#pdf-object {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
